@model Weathersun8889.貼文


@{
    ViewBag.Title = "貼文新增";
}

<h2>貼文新增</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <head>
        <meta name="viewport" content="width=device-width" />
    </head>
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <p>
            <div class="form-group">
                @Html.LabelFor(model => model.會員帳號, "會員帳號", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("會員帳號", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.會員帳號, "", new { @class = "text-danger", required = "required" })
                </div>
            </div>
        </p>
        <p>
            <body>
                <form method="post" action="@Url.Action("Postpic")" enctype="multipart/form-data">
                    <div class="form-group">
                        @Html.LabelFor(model => model.貼文照片, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.貼文照片, new { htmlAttributes = new { @class = "form-control", type = "file", name = "postpics", id = "postpics", required = "required" } })
                            @Html.ValidationMessageFor(model => model.貼文照片, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </form>
            </body>
        </p>
        <p>
            <div class="form-group">
                @Html.LabelFor(model => model.貼文文字, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.貼文文字, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.貼文文字, "", new { @class = "text-danger" })
                </div>
            </div>
        </p>
        <p>
            <div class="form-group">
                @Html.LabelFor(model => model.編輯日期, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.編輯日期, new { htmlAttributes = new { @class = "form-control", type = "date", required = "required" } })
                    @Html.ValidationMessageFor(model => model.編輯日期, "", new { @class = "text-danger" })
                </div>
            </div>
        </p>
        <p>
            <div class="form-group">
                @Html.LabelFor(model => model.商品標籤, "商品標籤", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("商品標籤", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.商品標籤, "", new { @class = "text-danger", required = "required" })
                </div>
            </div>
            <div>
                <span style="color:red">@ViewBag.Msg</span>
            </div>
        </p>
        <p>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="新增!" class="btn btn-default" />
                </div>
            </div>
        </p>
    </div>

}

<div>
    @Html.ActionLink("返回貼文管理畫面", "douctment")
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
