@model IEnumerable<Weathersun8889.Product>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -晴穿搭</title>
    <link rel="sun-touch-icon" sizes="76x76" href="~/img/sun-icon.png">
    <link rel="icon" type="image/png" href="~/img/weathersun.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        晴穿搭
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
    <link href="~/Content/demo/demo.css" rel="stylesheet" />
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
<script>
    $(function () {
        $('#myTable').DataTable();
    });
</script>
@{ ViewBag.Title = "商品"; }

<body class="">
    <div class="wrapper ">
        <div class="sidebar" data-color="white" data-active-color="danger">
            <div class="logo">
                <a class="simple-text logo-mini">
                    <div class="logo-image-small">
                        <img src="~/img/logo-sun.png">
                    </div>
                    <!-- <p>CT</p> -->
                </a>
                <a class="simple-text logo-normal">
                    <strong>
                        晴穿搭
                        <!-- <div class="logo-image-big">
                                       <img src="~/img/logo-big.png">
                        </div> -->
                    </strong>
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="Member">

                            <h6>👦🏻 會員管理平台</h6>
                        </a>
                    </li>

                    <li>
                        <a href="Admin">

                            <h6>👩‍🔧 管理員平台</h6>
                        </a>
                    </li>
                    <li>
                        <a href="Announcement">

                            <h6>📜 公告事項</h6>
                        </a>
                    </li>
                    <li>
                        <a href="MemberFeedback">

                            <h6>📰 系統回報資料</h6>
                        </a>
                    </li>
                    <li>
                        <a href="WebpageFeedback">

                            <h6>✉ 網頁意見回饋資料表</h6>
                        </a>
                    </li>
                    <li  class="active ">
                        <a href="Product">

                            <h5><strong>👕 商品</strong></h5>
                        </a>
                    </li>
                    <li class="active-pro">

                        <p>&nbsp;&nbsp;&copy;@DateTime.Now.Year - 晴穿搭</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="javascript:;"><strong>晴穿搭後臺管理⛅</strong></a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">

                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link btn-rotate" href="#">

                                    <p>
                                        使用守則
                                    </p>
                                </a>
                            <li class="nav-item">
                                <a class="nav-link btn-rotate" href="AdminLogin">

                                    <p>
                                        登出
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <table id="myTable" class="display">
                                    <thead>
                                        <tr style="background-color:#f0f8ff;">
                                            @Html.ActionLink("新增商品 ", "AdminCreate", new { @class = "btn btn-default" })
                                            <th>
                                                商品名稱
                                            </th>
                                            <th>
                                                商品價錢
                                            </th>
                                            <th>
                                                商品類別
                                            </th>
                                            <th>
                                                廠商名稱
                                            </th>
                                            <th>
                                                商品連結
                                            </th>
                                            <th>
                                                商品貨號
                                            </th>
                                            <th>
                                                商品圖片
                                            </th>

                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            string imgsrc = item.ProName + ".jpg";
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProPrice)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProCategory)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProShopName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProUrl)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProItemNo)
                                            </td>
                                            <td>
                                                <img src="~/productpics/@imgsrc" width="200" />
                                            </td>
                                            <td>
                                                @Html.ActionLink("📃", "Edit", new { account = item.ProItemNo })

                                                @Html.ActionLink("❌", "Delete", new { account = item.ProItemNo },
                                                new { onclick = "return confirm('確定刪除嗎?');" })
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="credits ml-auto">
                <div class="container body-content">
                        <hr />
                        <footer>
                            <p>&copy; @DateTime.Now.Year - 晴穿搭</p>
                        </footer>
                    </div>
                </div>
        </div>
    </div>
</body>